.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color-text: #434455;
  --secondary-color-text: #2e2f42;
  --accent-color: #404bbf;
  --background-color: #ffffff;
}

:root {
  --primary-brand-color: #4d5ae5;
  --hover-color: #404bbf;
  --primary-text-color: #434455;
  --headings-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --light-text-color: #f4f4fd;
  --stroke-logo-color: #8e8f99;
  --green-hover-color: #31d0aa;
  --modal-background-color: #fcfcfc;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color-text);
  background-color: var(--background-color);
}

/*.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}*/

.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/*  ====== BODY ====== */

.page-nav :hover,
.page-nav :focus {
  color: var(--accent-color);
}

.contact-mail-phone:hover,
.contact-mail-phone:focus {
  color: var(--accent-color);
}

.body-style {
  font-family: var(--primary-font);
  color: var(--primary-color-text);
  background-color: var(--background-color);
}

/*  ====== /BODY ====== */

/* ======= HEADER ======== */

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact-mail-phone {
    display: none;
  }
}

.page-header {
  padding-top: 24px;
  padding-bottom: 22px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .address-background {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    position: relative;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .logo {
    margin-right: 76px;
  }

  .logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .logo-one {
    color: var(--secondary-color-text);
  }
  .logo-two {
    color: #f4f4fd;
  }

  .contact-mail-phone {
    font-family: var(--primary-font);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .page-header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 1158px;
    background: #ffffff;
    padding: 0 15px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .address-background {
    margin-left: auto;
    margin-right: 40px;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-address {
    display: flex;
    gap: 40px;
  }
}

/*===== LOGO ===== */
/*
.logo {
  margin-right: 76px;
}*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-one {
  color: var(--secondary-color-text);
}
.logo-two {
  color: #f4f4fd;
}

/*=====  / LOGO ===== */

@media screen and (min-width: 768px) {
  .menu-link {
    position: relative;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link-studio {
    color: #404bbf;
  }
  .menu-link-studio::after {
    content: "";
    position: absolute;
    width: 48px;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-list {
    gap: 40px;
  }

  .contact-mail-phone {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ======= / HEADER ======== */

/* ==== MOBILE MENU ====== */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  max-width: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: none;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  fill: #ffffff;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.menu-link-studio {
  color: #4d5ae5;
}

.mobile-menu-contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu-phone {
  max-width: 353px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.mobile-menu-mail {
  width: 192px;
  height: 24px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mobile-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  max-width: 328px;
  justify-content: space-between;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-icon {
  fill: #f4f4fd;
}

.mobile-menu-open-icon {
  stroke: #2e2f42;
}

.mobile-menu-phone:hover,
.mobile-menu-phone:focus {
  color: var(--accent-color);
}

.mobile-menu-mail:hover,
.mobile-menu-mail:focus {
  color: var(--accent-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 410px) {
  .mobile-menu-phone {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }
}

/* ==== /MOBILE MENU ====== */

/****   SOCiAL LIST *****/

.social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #f4f4fd;
}

/******   /SOCIAL LIST   ******/

/* ====== HERO ======*/

@media screen and (max-width: 768px) {
  .hero {
    margin: 0% auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-dark-bg.jpg);
    background-size: cover;
    background-color: #2e2f42;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 129dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobile-dark-bg@2x.jpg);
    }
  }

  .main-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 72px;
  }

  .modal-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 0% auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-dark-bg.jpg);
    background-size: cover;
    background-color: #2e2f42;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 129dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-dark-bg@2x.jpg);
    }
  }
  .main-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    display: flex;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .modal-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    margin: 0% auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-dark-bg.jpg);
    background-size: cover;
    background-color: #2e2f42;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 129dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office1@2x.jpg);
    }
  }
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    display: flex;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
  }

  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--accent-color);
  }

  .modal-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ====== / HERO ======*/

/* =====  SECTION 2 ===== */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}

.description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .description-title {
    text-align: center;
  }

  .description-fix:not(:last-child) {
    margin-bottom: 72px;
  }

  .description-text {
    max-width: 396px;
  }
}

@media screen and (max-width: 1157px) {
  .description-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .description-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .description-container {
    display: flex;
  }

  .description-fix {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .description-container {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .description-container {
    gap: 24px;
  }

  .description-fix {
    flex-basis: calc((100% - 72px) / 4);
  }

  .description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .description-text {
    font-weight: 400;
  }

  .description-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light-text-color);
    border-radius: 4px;
  }
}

/* =====  /SECTION 2 ===== */

/* ===== SECTION 3 ====== */

@media screen and (max-width: 1158px) {
  .what-are-we-doing {
    display: none;
  }
}

.what-are-we-doing {
  padding-bottom: 120px;
}

.image-ajustment {
  width: calc((100% - 48px) / 3);
}

.image-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.image-description {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* ====== / SECTION 3 ====== */

/* ====== TEAM CARDS ===== */

/*
.team-cards {
  background: #f4f4fd;
}

.team-cards-background:not(:last-child) {
  margin-right: 24px;
}

.team-cards-background {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cards-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.cards-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.social-list-icon {
  fill: #f4f4fd;
}*/

/* ====== /TEAM CARDS ===== */

/******   TEAM   *****/

.team-members-cards {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-text-color);
}

.team-list {
  text-align: center;
}

.team-cards-background {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.cards-info {
  padding: 32px 0;
}

.card-name-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.icon-img {
  fill: var(--light-text-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .team-members-container {
    padding-left: 82px;
    padding-right: 82px;
  }

  .team-cards-background:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
  }

  .team-cards-background {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-members-container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .team-members-cards {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-cards-background {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/********  / TEAM   *******/

/* ==== SECTION 5 ======= */
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.castomers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}
.castomers-list {
  display: flex;
}

.castomer-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.castomers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid var(--stroke-logo-color);
  border-radius: 4px;
  color: var(--stroke-logo-color);
  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.castomer-icon {
  width: 110px;
  height: 56px;
  fill: currentColor;
}

.castomers-list-link:hover,
.castomers-list-link:focus {
  color: var(--hover-color);
  border: 1px solid;
  border-color: var(--hover-color);
}

@media screen and (max-width: 1157px) {
  .castomers-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .castomers-list {
    column-gap: 16px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .castomers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .castomer-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .castomer-icon {
    width: 104px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .castomers-list {
    gap: 24px;
  }

  .castomer-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}
/* ==== /SECTION 5 ======= */
/* ======= FOOTER ======== */
/*



.footer-socialmedia-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  gap: 16px;
}
.footer-social-icon-fix:hover,
.footer-social-icon-fix:focus {
  background-color: #31d0aa;
}*/

/* =======    / FOOTER ======== */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--headings-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}

.footer-socialmedia-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-list-item > .footer-social-icon-fix:hover,
.social-list-item > .footer-social-icon-fix:focus {
  background-color: var(--green-hover-color);
}

.footer-input {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--white-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-text-color);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white-text-color);
}

@media screen and (max-width: 767px) {
  .page-footer-container {
    text-align: center;
  }

  .footer-text {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }

  .social-list {
    justify-content: center;
  }

  .footer-social-media-wrapper {
    margin-bottom: 72px;
  }

  .footer-input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  .modal-form-submit-footer {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1157px) {
  .footer-main-info {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-main-info {
    margin-right: 24px;
  }

  .footer-label {
    margin-right: 24px;
  }

  .modal-form-footer {
    display: flex;
    align-items: center;
  }

  .footer-input {
    width: 264px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .page-footer-container {
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
  }

  .footer-social-media-wrapper {
    margin-bottom: 104px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-main-info {
    margin-right: 120px;
  }

  .footer-social-media-wrapper {
    margin-right: 80px;
  }
}

/* ======  PORTFOLIO  ======== */

.menu-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.menu-link-portfolio {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-portfolio::after {
  content: "";
  position: absolute;
  width: 66px;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.main-info {
  padding: 96px 0 120px;
}

.main-port-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.main-port-btn:hover,
.main-port-btn:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list-item {
  display: block;
}

.port-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  justify-content: center;
  gap: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-btn:hover,
.port-btn:focus {
  color: #ffffff;
  background: #404bbf;
}

/* ====== MAIN ======*/
.service-images {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-images:hover,
.service-images:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  transform: translateY(0%);
}
.service-card-background {
  background: #ffffff;
}

.service-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.service-fix {
  width: calc((100% - 48px) / 3);
}

.port-description-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0%, 100%);
  transition: transform 500ms linear;
  font-size: 16px;

  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  background-color: #4d5ae5;

  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-list-wrapper {
  position: relative;
  overflow: hidden;
}

.service-images:hover .overlay,
.service-images:focus .overlay {
  transform: translate(0, 0);
}
/* ====== / MAIN ======*/

/* ====== / PORTFOLIO  ======== */

/* ====== MODAL WINDOW  ======== */

.backdrop {
  position: fixed;

  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 42px 42px 42px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
  fill: #ffffff;
}

/*.modal-close-btn:hover.modal-close-btn-icon,
.modal-close-btn:focus.modal-close-btn-icon {
  fill: #ffffff;
}*/

/* ====== / MODAL WINDOW ======== */

/* ======  MODAL FORM   ======== */

@media screen and (max-width: 767px) {
  .modal {
    max-width: 392px;
    width: 100%;
  }
}

.modal {
  padding: 72px 24px 24px 24px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-form-field-checkbox {
  margin-bottom: 24px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-desc {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 18px;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form-check-desk {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 26px;
}

.modal-fake-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desk .modal-fake-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-form-check:focus + .modal-form-check-desk .modal-fake-checkbox {
  outline: 1px solid #404bbf;
}

.modal-policy-link {
  color: #4d5ae5;
}

.modal-form-submit {
  margin-right: 120px;
  margin-left: 100px;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== / MODAL FORM ======== */

/* ======  MODAL FORM FOOTER======== */
/*
.modal-form-footer-container {
  margin-left: 80px;
}*/
/*
.modal-form-footer {
  display: flex;
  gap: 24px;
}
*/
.modal-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-input {
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid var(--background-color);
  color: #ffffff;
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
  background-color: transparent;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-email-icon {
  margin-left: 16px;
}

.modal-form-submit-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

/* ====== / MODAL FORM  FOOTER======== */
